.medievalsharp-regular {
  font-family: "MedievalSharp", cursive;
  font-weight: 400;
  font-style: normal;
}
html {
  font-size: 10px;
  font-family: MedievalSharp;
  background-color: #3658b6;
}
body {
    width: 600px;
    margin: 100px auto;
    background-color:rgb(136, 136, 136);
    padding: 20px 20px 20px 20px;
    border: 5px solid black;
}
h1 {
    font-size: 60px;
    text-align: center;
    margin: 0;
    padding: 20px 0;
    color: #000000;
    text-shadow: 3px 3px 1px rgb(107, 107, 107);
}
p,
li {
    font-size: 16px;
    line-height: 2;
    letter-spacing: 1px;
}
img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
}
.done {
  color: darkseagreen;
  text-decoration: line-through solid gray 2px;
}
